.wrap-banner{
  position: relative;
  user-select: none;
  display: flex;
}

.title-banner{
  position: absolute;
  left: 30px;
  bottom: 120px;
}

.span-banner{
  position: absolute;
  left: 30px;
  bottom: 110px;
}

@media (max-width: 1200px){
  .title-banner,
  .span-banner{
    display: none;
  }
}