<div class="row">
  <div class="col-xs-12 end-xs">
    <button mat-flat-button class="round-button" (click)="onGetExcel()" color="primary">Descargar</button>
  </div>
</div>
<div *ngIf="!range && data">
  <app-chart-one-shelf-one-hall [data]="data"></app-chart-one-shelf-one-hall>
</div>
<div *ngIf="range && data">
  <app-chart2-one-shelf-one-hall [data]="data"></app-chart2-one-shelf-one-hall>
</div>
<div *ngIf="data">
 <app-card-one-shelf-one-hall [data]="data" [range]="range"></app-card-one-shelf-one-hall>
</div>