<app-header
  title="Reglas de planograma"
  desc="Visualice el cumplimiento de planograma en tienda."
></app-header>
<div class="container">
  <div class="p-10 mt-5 mb-30">
    <div class="row">
      <div class="col-xs-12">
        <h2>Validación de planograma en anaquel</h2>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-xs-12">
        <form [formGroup]="form" (ngSubmit)="onApplyFilters()">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="bold">Ubicación</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <mat-form-field appearance="outline">
                <mat-label>Tienda</mat-label>
                <mat-select formControlName="id_tienda" cdkFocusInitial (selectionChange)="onGetAisles($event.value)">
                  <mat-option *ngFor="let store of stores" [value]="store.id_tienda">
                    {{ store.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <mat-form-field appearance="outline">
                <mat-label>Pasillo</mat-label>
                <mat-select formControlName="id_pasillotienda" (selectionChange)="onGetShelfs($event.value)">
                  <mat-option *ngFor="let aisle of aisles" [value]="aisle.id_pasillotienda">
                    Pasillo {{ aisle.id_pasillotienda }} -- {{ aisle.descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
               <mat-checkbox color="primary" formControlName="allaisles" (change)="onAllAisles($event.checked)">Todos los pasillos</mat-checkbox>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <mat-form-field appearance="outline">
                <mat-label>Anaquel</mat-label>
                <mat-select formControlName="id_estante">
                  <mat-option *ngFor="let shelf of shelfs" [value]="shelf.id_estante">
                    Anaquel {{ shelf.id_estante }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox color="primary" formControlName="allshelfs" (change)="onAllShelfs($event.checked)">Todos los anaqueles</mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3 class="bold">Fecha</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <mat-radio-group formControlName="option" (change)="onChangeOption($event.value)">
                <mat-radio-button class="ml-10" color="primary" [value]="1">1 Día</mat-radio-button>
                <mat-radio-button class="ml-10" color="primary" [value]="2">Rango de fechas</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mt-10">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="!rangeFalse">
              <mat-form-field appearance="outline">
                <mat-label>Elige una fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="rangeFalse">
              <div class="row">
                <div class="col-xs-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="startDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xs-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha fin</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="endDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 end-lg end-md center-xs center-md">
              <button mat-button class="round-button boder-button" [disabled]="loading"  color="primary">Aplicar filtros</button>
            </div>
          </div>
          <div class="row mt-10" *ngIf="showInfo">
            <div class="col-xs-12 end-xs">
              <p class="link" (click)="onOpenCamera()">Ver cámara</p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Contenido despúes de los filtros -->
    <div *ngIf="showInfo && !loading">
      <div class="row mt-10">
        <div class="col-xs-12">
          <h2>{{ title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>{{ desc }}</p>
        </div>
      </div>
      <app-one-shelf-one-hall [range]="range" [data]="data" *ngIf="!allaisles && !allshelfs"></app-one-shelf-one-hall>
      <app-all-shelf-one-hall [range]="range" [data]="data" *ngIf="!allaisles && allshelfs"></app-all-shelf-one-hall>
      <app-all-shelf-all-hall [range]="range" [data]="data" *ngIf="allaisles && allshelfs"></app-all-shelf-all-hall>
    </div>

    <div class="row center-xs" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>