$md-primarycolor: (
    50 : #e6eef6,
    100 : #c1d4ea,
    200 : #97b7dc,
    300 : #6d9acd,
    400 : #4e84c3,
    500 : #2f6eb8,
    600 : #2a66b1,
    700 : #235ba8,
    800 : #1d51a0,
    900 : #123f91,
    A100 : #c3d6ff,
    A200 : #90b3ff,
    A400 : #5d90ff,
    A700 : #447fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-customblack: (
    50 : #e5e4e4,
    100 : #bdbcbc,
    200 : #918f90,
    300 : #656263,
    400 : #444141,
    500 : #231f20,
    600 : #1f1b1c,
    700 : #1a1718,
    800 : #151213,
    900 : #0c0a0b,
    A100 : #ff52ff,
    A200 : #ff1fff,
    A400 : #eb00eb,
    A700 : #d200d2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);